.search__input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 24px;
    padding: 10px 13px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 27px;
    max-width: 556px;
}
.search__input:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search__input > input {
    flex:1;
    padding:10px 20px;
    font-size:medium;
    border:none;
}

.search__input > input:focus{
    outline: none;
}

.search__inputIcon{
    color: gray;
}

.search__input > .MuiSvgIcon-root{
    height: 20px;
}

.search__buttons{
    margin-top: 28px;
    display: flex;
    justify-content: center;
}

.search__buttons button{
    margin: 0px 10px 0px 0;
    padding: 10px 18px;
    background-color: #f8f8f8;
    border: 1px solid white;
    text-transform: inherit;
    color: #5f6368;
    font-size: 14px;
}

.search__buttons button:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image:-webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #f6f6f6;
    color: #222;
}

.search__buttons button:focus{
    outline: none;
}
.search__buttonHidden{
    display: none !important;
}

.searchPage{
    display: flex;
    flex-direction: column;
}

.searchPage__option > .MuiSvgIcon-root{
    height: 18px;
}